body {
    display: flex;
    margin: 1;

}


h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

form label {
    font-family: sans-serif;
    font-size: 12px;
    opacity: 0.7;
    
  
}

form label {
    padding-bottom: 1%;
    display: flex;
    margin-top: 15px;

    
}

form {
    width: 300px;
    margin-left: -10rem;
    margin-bottom: 10px;
    margin-top: 30%;

}

.container {
    margin: auto;
    border-radius: 1%;
    border-style: none;
    
    
    
}

form input {
    width: 100%;
    border-radius: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    border-style: none;
    font-size: 15px;
    background-color: rgb(218, 211, 211);
    padding: 7px 10px;
    
    }

#button2 {
    background-color: blue;
    margin-top: 10%;
    font-family: sans-serif;
    color: white;
    padding-top: 2%;
    padding-bottom: 3%;
    width: 107%;
    font-size: 15px;
    
}


#button {
    border-radius: 20px;
    font-size: 15px;
    width: 103%;
    padding-top: 2%;
    padding-bottom: 3%;
    margin-top: 20%;
}

.a-tag {
    text-decoration: none;
    text-transform: uppercase;
    color: black;

}


.cta {
    margin: auto;
    margin-top: 70px;
}


hr {
    display: inline;
    margin-left: 1em;
    margin-right: 1em;

}

.line {
    border-top: 2px solid grey;
    width: 40%;
    margin-top: 0;
    opacity: 0.5;
    margin-left: 1em;
    margin-right: 1em;


}


.info {
    display: inline;
    margin: 1%;
   padding-left: 2rem;
    
}

.lines {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    
}
